Repository cosmos/chain-registry, pull requests merged in 2023-06, with the labels that each got.

#2257 Upgrade Injective to v1.11
  injective/chain.json
Labels: chain-upgrade

#2204 Noble Chain Testnet Upgrade Info
  testnets/nobletestnet/chain.json
Labels: chain-upgrade

#2236 Add tenet blockchain
  tenet/assetlist.json
  tenet/chain.json
  tenet/images/tenet.png
  tenet/images/tenet.svg
Labels: new-chain

#2249 Upgrade Juno to v15
  juno/chain.json
Labels: chain-upgrade

#1467 Update persistence-quicksilver.json
  _IBC/persistence-quicksilver.json
Labels: ibc-channels

#2247 Upgrade Nolus to v0.4.0
  nolus/chain.json
Labels: chain-upgrade

#2265 Upgrade Teritori to v1.4.0
  teritori/chain.json
Labels: chain-upgrade

#2299 Add jackal <> kujira IBC
  _IBC/jackal-kujira.json
Labels: ibc-channels

#2302 Upgrade Aura to v0.4.5
  aura/chain.json
Labels: chain-upgrade

#2339 Upgrade Lum Network to v1.4.5
  lumnetwork/chain.json
Labels: chain-upgrade

#2355 Upgrade Comdex to v11.5.0
  comdex/chain.json
Labels: chain-upgrade

#2250 docs: Update comoshub for v10.0.0 release
  cosmoshub/chain.json
Labels: chain-upgrade

#2400 persistence test-core-2
  testnets/persistencetestnet2/assetlist.json
  testnets/persistencetestnet2/chain.json
Labels: new-chain
