Repository cosmos/chain-registry, pull requests merged in 2023-03, with the labels that each got.

#1480 Add Images Array
  README.md
  assetlist.schema.json
  chain.schema.json
  osmosis/chain.json
Labels: enhancement

#1652 update umeed version
  umee/chain.json
Labels: chain-upgrade

#1659 provenance-io chain registry update for version v1.14.1
  provenance/assetlist.json
  provenance/chain.json
  provenance/images/hash.png
  provenance/images/hash.svg
  provenance/images/prov.png
  provenance/images/prov.svg
Labels: chain-upgrade

#1657 add Aura Network registry for xstaxy mainnet
  aura/assetlist.json
  aura/chain.json
  aura/images/Aura-logo-2.2.png
  aura/images/Aura-logo-2.2.svg
Labels: new-chain

#1643 Upgrade Kujira to v0.8.4
  kujira/chain.json
Labels: chain-upgrade

#1579 Upgrade IXO to v0.20.0
  impacthub/chain.json
Labels: chain-upgrade

#1642 Upgrade Ki to v5.0.0
  kichain/chain.json
Labels: chain-upgrade

#1628 Update version and binary links
  jackal/chain.json
Labels: chain-upgrade

#1656 update starsd version
  stargaze/chain.json
Labels: chain-upgrade

#1695 added `qOSMO` as an asset on quicksilver
  quicksilver/assetlist.json
  quicksilver/images/qosmo.png
  quicksilver/images/qosmo.svg
Labels: new-asset

#1668 Add Coreum to chain registry
  coreum/assetlist.json
  coreum/chain.json
  coreum/images/coreum.png
  coreum/images/coreum.svg
  testnets/coreumtestnet/assetlist.json
  testnets/coreumtestnet/chain.json
Labels: new-chain

#1700 Add ECO Stake Coreum APIs
  coreum/chain.json
Labels: endpoints

#1724 Add consensus to chain.json
  README.md
  bluzelle/chain.json
  chain.schema.json
  cheqd/chain.json
  coreum/chain.json
  evmos/chain.json
  juno/chain.json
  likecoin/chain.json
  mars/chain.json
  migaloo/chain.json
  onomy/chain.json
  osmosis/chain.json
  quasar/chain.json
  quicksilver/chain.json
  regen/chain.json
  shareledger/chain.json
  stride/chain.json
  testnets/cheqdtestnet/chain.json
  testnets/coreumtestnet/chain.json
  testnets/cosmwasmtestnet/chain.json
  testnets/evmostestnet/chain.json
  testnets/junotestnet/chain.json
  testnets/neutrontestnet/chain.json
  testnets/osmosistestnet/chain.json
  testnets/quasartestnet/chain.json
  testnets/quicksilvertestnet/chain.json
  testnets/qwoyntestnet/chain.json
  testnets/sourcetestnet/chain.json
  testnets/stargazetestnet/chain.json
  testnets/stridetestnet/chain.json
  testnets/terpnettestnet/chain.json
  umee/chain.json
Labels: structure

#1711 Update kingnodes services
  evmos/chain.json
  juno/chain.json
  mars/chain.json
  omniflixhub/chain.json
Labels: endpoints

#1705 Add Noble (Main + Testnet)
  noble/assetlist.json
  noble/chain.json
  noble/images/frnz.png
  noble/images/stake.png
  testnets/_IBC/nobletestnet-osmosistestnet.json
  testnets/nobletestnet/assetlist.json
  testnets/nobletestnet/chain.json
Labels: new-chain

#1737 enable per version binaries
  chain.schema.json
Labels: structure

#1670 Add Migaloo assets
  migaloo/assetlist.json
  migaloo/images/ampWhale.svg
  migaloo/images/bWHALE.png
  migaloo/images/bWHALE.svg
  migaloo/images/fable.svg
Labels: new-asset

#1644 Upgrade Migaloo to v2.0.0
  migaloo/chain.json
Labels: chain-upgrade

#1710 quicksilver: RPC cleanup
  quicksilver/chain.json
Labels: endpoints

#1698 Upgrade Evmos to v12
  evmos/chain.json
Labels: chain-upgrade

#1748 Update chain.schema--Version data per Version
  chain.schema.json
Labels: structure

#1746 Update Bostrom Assetlist and Images
  bostrom/assetlist.json
  bostrom/images/hydrogen.png
  bostrom/images/hydrogen.svg
Labels: new-asset

#1758 Add Nois
  nois/assetlist.json
  nois/chain.json
  nois/images/nois.png
  nois/images/nois.svg
Labels: new-chain
