Repository cosmos/chain-registry, pull requests merged in 2023-12, with the labels that each got.

#3349 Add celestia-composable and composable-kujira
  _IBC/celestia-composable.json
  _IBC/composable-kujira.json
Labels: ibc-channels

#3350 add mahof rpc api grpc c4e
  chain4energy/chain.json
Labels: endpoints

#3342 bitcanna devnet endpoints by🔥STAVR🔥
  testnets/bitcannadevnet/bitcanna devnet update
Labels: endpoints

#3341 source testnet endpoints by🔥STAVR🔥
  testnets/sourcetestnet/source testnet  update
Labels: endpoints

#3339 quicksilver testnet endpoints by🔥STAVR🔥
  testnets/quicksilvertestnet/quicksilver testnet update
Labels: endpoints

#3378 Upgrade likecoin to v4.1.1
  likecoin/chain.json
  testnets/likecointestnet/chain.json
Labels: chain-upgrade

#3351 SECARD C4E - peer , rpc , grpc , lcd add
  chain4energy/chain.json
Labels: endpoints

#3375 Update for Gaia v14.1.0 release
  cosmoshub/chain.json
Labels: chain-upgrade

#3376 Update IBC with new terra2 paths
  _IBC/akash-terra2.json
  _IBC/celestia-terra2.json
  _IBC/cheqd-terra2.json
  _IBC/comdex-terra2.json
  _IBC/cosmoshub-terra2.json
  _IBC/decentr-terra2.json
  _IBC/dydx-terra2.json
  _IBC/injective-terra2.json
  _IBC/juno-terra2.json
  _IBC/kava-terra2.json
  _IBC/terra-terra2.json
Labels: ibc-channels

#3346 Bluzelle - upgrade v10.0
  bluzelle/chain.json
Labels: chain-upgrade

#3394 Add Puppy to Chihuahua
  chihuahua/assetlist.json
  chihuahua/images/puppyhuahua_logo.png
Labels: new-asset

#3423 Add Quicksilver endpoints
  quicksilver/chain.json
Labels: endpoints

#3363 Upgrade Juno to v18
  juno/chain.json
Labels: chain-upgrade

#3325 kyve mainnet endpoints by🔥STAVR🔥
  kyve/chain.json
Labels: endpoints

#3426 Update chain.json
  dydx/chain.json
Labels: endpoints

#3404 Upgrade Aura to v0.7.2
  aura/chain.json
Labels: chain-upgrade

#3440 Add fxcore-axelar IBC channel
  _IBC/axelar-fxcore.json
Labels: ibc-channels

#3320 Celestia explorer by STAVR
  celestia/chain.json
Labels: endpoints

#3370 feat: add nibiru blockchain to chain registry
  nibiru/assetlist.json
  nibiru/chain.json
  nibiru/images/nibiru.png
  nibiru/images/nibiru.svg
Labels: new-chain

#3340 sge testnet endpoints by🔥STAVR🔥
  testnets/sgetestnet/chain.json
Labels: endpoints

#3335 lava testnet endpoints by🔥STAVR🔥
  testnets/lavatestnet/chain.json
Labels: endpoints

#3428 Upgrade XPLA to "Volunteer"
  xpla/chain.json
Labels: chain-upgrade

#3388 Upgrade Qwoyn to v5.3.0
  qwoyn/chain.json
Labels: chain-upgrade

#3474 Update recommended Sei version to v3.3.3
  sei/chain.json
Labels: chain-upgrade

#3441 Upgrade Nolus to v0.4.2
  nolus/chain.json
Labels: chain-upgrade

#3406 Upgrade SGE Network to v1.2.0
  sge/chain.json
Labels: chain-upgrade

#3481 Add dYdX AutoStake persistent_peer
  dydx/chain.json
Labels: endpoints

#3439 Add union endpoints
  testnets/uniontestnet/chain.json
Labels: endpoints

#3476 Upgrade Comdex to v13.3.0
  comdex/chain.json
Labels: chain-upgrade

#3405 Upgrade Neutron to v2.0.0
  neutron/chain.json
Labels: chain-upgrade

#3491 Change Citizen Cosmos RPC deatails.json
  likecoin/chain.json
Labels: endpoints

#3479 Upgrade Haqq to v1.6.4
  haqq/chain.json
Labels: chain-upgrade

#3466 Upgrade Chihuahua to v6
  chihuahua/chain.json
Labels: chain-upgrade

#3502 Add Archway<>Qwoyn IBC channel
  _IBC/archway-qwoyn.json
Labels: ibc-channels

#3508 Add Asset Name Character Limit (25)
  assetlist.schema.json
  injective/assetlist.json
  terra/assetlist.json
Labels: structure

#3495 Patch Comdex to v13.4.0
  comdex/chain.json
Labels: chain-upgrade

#3509 Update neutron-1 RPCs
  neutron/chain.json
Labels: endpoints
