Repository cosmos/chain-registry, pull requests merged in 2023-11, with the labels that each got.

#3108 Upgrade Gravity Bridge to v1.10.2
  gravitybridge/chain.json
Labels: chain-upgrade

#3068 Upgrade Lum to v1.6.2
  lumnetwork/chain.json
Labels: chain-upgrade

#3121 Upgrade Persistence to v10
  persistence/chain.json
Labels: chain-upgrade

#3125 Updated chains.json under StakeTown moniker and added Quasar public goods
  archway/chain.json
  evmos/chain.json
  juno/chain.json
  osmosis/chain.json
  quasar/chain.json
  source/chain.json
  umee/chain.json
Labels: endpoints

#3101 Upgrade Composable to v6
  composable/chain.json
Labels: chain-upgrade

#3109 Upgrade Evmos to v15.0.0
  evmos/chain.json
Labels: chain-upgrade

#3122 Upgrade Carbon to v2.35.0
  carbon/chain.json
Labels: chain-upgrade

#3131 Add kjnodes endpoints
  celestia/chain.json
Labels: endpoints

#3136 Updating few endpoints. Cosmos Spaces
  archway/chain.json
  celestia/chain.json
  cosmoshub/chain.json
  dydx/chain.json
  juno/chain.json
  migaloo/chain.json
Labels: endpoints

#3138 feat(celestia): add Polkachu as a provider for Celestia
  celestia/chain.json
Labels: endpoints

#3144 Composable v6.3.1 patch
  composable/chain.json
Labels: chain-upgrade

#3148 Upgrade Akash to v0.26.2
  akash/chain.json
Labels: chain-upgrade

#3135 Upgrade Quicksilver to v1.2.17
  quicksilver/chain.json
Labels: chain-upgrade

#3168 Upgrade Carbon to v2.36.0
  carbon/chain.json
Labels: chain-upgrade

#3187 Update Indonode Bitcanna
  bitcanna/chain.json
  planq/chain.json
Labels: endpoints

#3197 Add AutoStake Carbon endpoints
  carbon/chain.json
Labels: endpoints

#3201 Add AutoStake Source endpoints
  source/chain.json
Labels: endpoints

#3203 update patched version of v0.12.x
  omniflixhub/chain.json
Labels: chain-upgrade

#3067 Upgrade Migaloo to v3.0.2
  migaloo/chain.json
Labels: chain-upgrade

#3198 Add AutoStake Oraichain endpoints
  oraichain/chain.json
Labels: endpoints

#3185 gravitybridge chain upgrade
  gravitybridge/chain.json
Labels: chain-upgrade

#3188 Add Indonode Source
  source/chain.json
Labels: endpoints

#3143 Upgrade Terra to v2.6
  terra2/chain.json
Labels: chain-upgrade

#3211 add rpc endpoint for kujira chain
  kujira/chain.json
Labels: endpoints

#3192 Upgrade Aura to v0.7.1
  aura/chain.json
Labels: chain-upgrade

#3217 Update for Gaia v13.0.2 release
  cosmoshub/chain.json
Labels: chain-upgrade

#3228 Upgrade noble to v4.0.1
  noble/chain.json
Labels: chain-upgrade

#3169 Upgrade Akash to v0.28.0
  akash/chain.json
Labels: chain-upgrade

#3231 Update chain.json
  kichain/chain.json
  shentu/chain.json
Labels: endpoints

#3234 Update chain.json
  celestia/chain.json
Labels: endpoints

#3235 Update chain.json
  dydx/chain.json
Labels: endpoints

#3178 Upgrade SGE to v1.1.1
  sge/chain.json
Labels: chain-upgrade

#3226 Update Provenance chain.json with release 1.17.0
  provenance/chain.json
Labels: chain-upgrade

#3246 Add $PYTH
  _non-cosmos/solana/assetlist.json
  _non-cosmos/solana/images/pyth.svg
Labels: new-asset

#3244 Upgrade Sei to v3.3.0
  sei/chain.json
Labels: chain-upgrade

#3254 Bump Nyx version + remove dead RPC endpoints
  nyx/chain.json
Labels: chain-upgrade

#3243 Upgrade Ununifi to v4.0.0
  ununifi/chain.json
Labels: chain-upgrade

#3189 Upgrade Desmos to v6.2.0
  desmos/chain.json
Labels: chain-upgrade

#3299 Upgrade Ununifi to v4_0_1
  ununifi/chain.json
Labels: chain-upgrade
