Repository cosmos/chain-registry, pull requests merged in 2024-05, with the labels that each got.

#4498 Upgrade Terra2 to v11
  terra2/chain.json
Labels: chain-upgrade

#4518 🚀 WHEN MOON 🌕 WHEN LAMBO 🔥 Add RPC, API, EVM and Explorer endpoints to Conscious
  conscious/chain.json
Labels: endpoints

#4519 Add Citizen Web3 RPCs
  celestia/chain.json
  composable/chain.json
  cosmoshub/chain.json
  evmos/chain.json
Labels: endpoints

#4496 Upgrade Omniflix Hub to v4
  omniflixhub/chain.json
Labels: chain-upgrade

#4506 Update quicksilver-2 to v1.5.5
  quicksilver/chain.json
Labels: chain-upgrade

#4527 Upgrade Akash to v0.34
  akash/chain.json
Labels: chain-upgrade

#4529 Upgrade Andromeda to v0.1.1
  andromeda/chain.json
Labels: chain-upgrade

#4487 Bump Cronos "recommended_version" to v1.2.1
  cronos/chain.json
Labels: chain-upgrade

#4501 Upgrade Desmos to v7.1.0
  desmos/chain.json
Labels: chain-upgrade

#4546 Add https to Omniflix Hub API, remove Juno API
  juno/chain.json
  nibiru/chain.json
  omniflixhub/chain.json
  source/chain.json
Labels: endpoints

#4548 Adding Andromeda Protocol endpoints from LiveRaveN
  andromeda/chain.json
Labels: endpoints

#4550 removing dead juno testnet endpoints
  testnets/junotestnet/chain.json
Labels: endpoints

#4555 Removed endpoints
  desmos/chain.json
Labels: endpoints

#4176 update uptick chain cosmoswasm Version
  uptick/chain.json
Labels: chain-upgrade

#4557 Add Inter Blockchain Services Endpoints for SEDA
  seda/chain.json
Labels: endpoints

#4560 Add & Update GRS Cosmos Endpoints
  cosmoshub/chain.json
  injective/chain.json
  osmosis/chain.json
  saga/chain.json
Labels: endpoints

#4561 Add Sunrise
  sunrise/assetlist.json
  sunrise/chain.json
  sunrise/images/sunrise.png
  sunrise/images/sunrise.svg
Labels: new-chain

#4559 feat: union-testnet-8
  testnets/uniontestnet/chain.json
Labels: new-chain

#4540 add Althea L1 chain
  althea/assetlist.json
  althea/chain.json
  althea/images/temp.txt
Labels: new-chain

#4574 Add AutoStake SEDA services
  seda/chain.json
Labels: endpoints

#4573 Add Althea Endpoints STAVR
  althea/chain.json
Labels: endpoints

#4581 Add Lavender.Five Nodes Endpoints for Althea
  althea/chain.json
Labels: endpoints

#4582 Update Composable->Picasso endopints for Lavender.Five Nodes
  composable/chain.json
Labels: endpoints

#4583 Add Lavender.Five Seed and APIs for Saga
  saga/chain.json
Labels: endpoints

#4572 Add mintscan explorer for dymension
  dymension/chain.json
Labels: endpoints

#4577 Update lava M chain.json
  lava/chain.json
Labels: endpoints

#4587 Change api/rpc/grpc urls on scorum
  scorum/chain.json
Labels: endpoints

#4562 Upgrade Bitcanna to ganjarevolutionburn
  bitcanna/chain.json
Labels: chain-upgrade

#4590 Add AVIAONE explorer for Bitcanna
  bitcanna/chain.json
Labels: endpoints

#4586 Add Pryzm mainnet
  pryzm/assetlist.json
  pryzm/chain.json
  pryzm/images/AUUU.png
  pryzm/images/AUUU.svg
  pryzm/images/pryzm-logo.png
  pryzm/images/pryzm-logo.svg
  pryzm/images/pryzm.png
  pryzm/images/pryzm.svg
Labels: new-chain

#4584 Upgrade Carbon to 2.41.0 and update chain history
  carbon/chain.json
Labels: chain-upgrade

#4591 Public Bro_n_Bro endpoints for seda
  seda/chain.json
Labels: endpoints

#4610 Add Lavender.Five endpoints and seed to Pryzm
  pryzm/chain.json
Labels: endpoints

#4611 Patch Carbon to v2.41.1
  carbon/chain.json
Labels: chain-upgrade

#4612 Add AutoStake Pryzm endpoints
  pryzm/chain.json
Labels: endpoints

#4588 Add AVIAONE endpoints for Dymension
  dymension/chain.json
Labels: endpoints

#4589 Add AVIAONE endpoints for Fetch
  fetchhub/chain.json
Labels: endpoints

#4622 Celestia non-consensus upgrade
  celestia/chain.json
Labels: chain-upgrade

#4615 Add Penumbra $UM
  _non-cosmos/penumbra/assetlist.json
  _non-cosmos/penumbra/images/um.png
  _non-cosmos/penumbra/images/um.svg
Labels: new-asset

#4578 feat: wss + nibiru
  _template/chain.json
  chain.schema.json
  nibiru/chain.json
  testnets/nibirudevnet/chain.json
  testnets/nibirudevnet2/chain.json
  testnets/nibirutestnet/chain.json
  testnets/nibirutestnet2/chain.json
Labels: endpoints

#4628 Add ITRocket services for Celestia
  celestia/chain.json
Labels: endpoints

#4630 Upgrade Nibiru to v1.3.0
  nibiru/chain.json
Labels: chain-upgrade

#4620 Add Allnodes RPC endpoints to various blockchains
  cheqd/chain.json
  cudos/chain.json
  doravota/chain.json
  lava/chain.json
  nibiru/chain.json
  oraichain/chain.json
  tenet/chain.json
  testnets/elystestnet/chain.json
  testnets/mantrachaintestnet/chain.json
  xpla/chain.json
Labels: endpoints

#4507 Upgrade Cosmos Hub to v16
  cosmoshub/chain.json
Labels: chain-upgrade

#4636 Osmosis v25 Upgrade
  osmosis/chain.json
  osmosis/versions.json
Labels: chain-upgrade

#4642 Upgrade SGE to v1.6.2
  sge/chain.json
Labels: chain-upgrade

#4646 Upgrade Lum Network to v1.6.6
  lumnetwork/chain.json
Labels: chain-upgrade

#4665 Add MathNodes Infrastructure to Sentinel
  sentinel/chain.json
Labels: endpoints

#4671 Omniflixhb to v4.1.0
  omniflixhub/chain.json
Labels: chain-upgrade

#4668 Upgrade Carbon to v2.43.0 and update history
  carbon/chain.json
Labels: chain-upgrade

#4678 Add v7.0.1 to compatible for Archway
  archway/chain.json
Labels: chain-upgrade

#4681 Update Avril14th peer ID chain.json
  celestia/chain.json
Labels: endpoints

#4693 Add AutoStake KYVE services
  kyve/chain.json
Labels: endpoints

#4692 Add axelar-pryzm IBC info
  _IBC/axelar-pryzm.json
Labels: ibc-channels

#4694 Create coreumtestnet-osmosistestnet.json on IBC testnet channel
  testnets/_IBC/coreumtestnet-osmosistestnet.json
Labels: ibc-channels

#4688 Creates mantrachain dir, chain.json, replaces testnet logos with mainnet
  mantrachain/assetlist.json
  mantrachain/images/OM-Darkmatt.png
  mantrachain/images/OM-Darkmatt.svg
  mantrachain/images/OM-Prim Col.png
  mantrachain/images/OM-Prim Col.svg
  mantrachain/images/OM-WHT.png
  mantrachain/images/OM-WHT.svg
  testnets/mantrachaintestnet/assetlist.json
  testnets/mantrachaintestnet/chain.json
  testnets/mantrachaintestnet/images/mantra.png
  testnets/mantrachaintestnet/images/mantra.svg
Labels: new-chain

#4690 Add Onex-Onomy IBC info
  _IBC/onex-onomy.json
Labels: ibc-channels

#4554 Upgrade Neutron to v3.0.5
  neutron/chain.json
Labels: chain-upgrade

#4708 Add endpoints to Lava chain.json by 🔥STAVR🔥
  lava/chain.json
Labels: endpoints

#4670 Upgrade Sei to v5.5.2
  sei/chain.json
Labels: chain-upgrade

#4677 add Neura blockchain
  _non-cosmos/ethereum/assetlist.json
  neura/assetlist.json
  neura/chain.json
  neura/images/neura.png
  testnets/neuradevnet/assetlist.json
  testnets/neuradevnet/chain.json
  testnets/neuratestnet/assetlist.json
  testnets/neuratestnet/chain.json
Labels: new-chain

#4749 fix: Nibiru wss
  nibiru/chain.json
Labels: endpoints

#4669 Upgrade Chihuahua to v7
  chihuahua/chain.json
Labels: chain-upgrade

#4753 Patch Terra2 to v2.11.2
  terra2/chain.json
Labels: chain-upgrade

#4750 Upgrade Evmos to v18.1.0 and update version history
  evmos/chain.json
Labels: chain-upgrade
