Repository cosmos/chain-registry, pull requests merged in 2024-03, with the labels that each got.

#4003 Upgrade Sei to v3.7.0
  sei/chain.json
Labels: chain-upgrade

#3145 Update Sifchain Version
  sifchain/chain.json
Labels: chain-upgrade

#3992 fix(oraichain): version change
  oraichain/chain.json
Labels: chain-upgrade

#4034 Upgrade Archway to v6.0.0
  archway/chain.json
Labels: chain-upgrade

#3928 Upgrade Desmos to v7
  desmos/chain.json
Labels: chain-upgrade

#4044 Neutron v2.0.3 patch
  neutron/chain.json
Labels: chain-upgrade

#4047 Add CommunityNode endpoints for Swiss Tronik
  testnets/swisstroniktestnet/chain.json
Labels: endpoints

#4056 Patch Cosmos Hub to v14.2.0
  cosmoshub/chain.json
Labels: chain-upgrade

#4038 Upgrade Zetachain to v14 and add version history
  zetachain/chain.json
Labels: chain-upgrade

#4059 Add Lavender.Five seed node and APIs for Zetachain
  zetachain/chain.json
Labels: endpoints

#4054 Add RPC and Rest API Endpoints
  cifer/chain.json
Labels: endpoints

#4046 Upgrade Source v3.0.1
  source/chain.json
Labels: chain-upgrade

#4066 Update chain.json from Cumulo
  nois/chain.json
Labels: endpoints

#4037 Upgrade Nibiru to v1.0.2
  nibiru/chain.json
Labels: chain-upgrade

#4081 Upgrade Juno to v21
  juno/chain.json
Labels: chain-upgrade

#4065 Upgrade Odin to v0.7.11
  odin/chain.json
Labels: chain-upgrade

#4095 Omniflix to v3.3.0
  omniflixhub/chain.json
Labels: chain-upgrade

#4096 Noble to v4.0.3
  noble/chain.json
Labels: chain-upgrade

#4045 Upgrade Jackal to v320
  jackal/chain.json
Labels: chain-upgrade

#4050 add Babylon testnet 3
  testnets/babylontestnet/chain.json
  testnets/babylontestnet1/assetlist.json
  testnets/babylontestnet1/chain.json
Labels: new-chain

#4101 Update Chihua chain.json by 🔥STAVR🔥
  chihuahua/chain.json
Labels: endpoints

#4092 Add Apeiron Nodes rpc-seed endpoints on chain.json
  chain4energy/chain.json
Labels: endpoints

#4082 Upgrade Quicksilver to v1.5.0
  quicksilver/chain.json
Labels: chain-upgrade

#4067 Upgrade Lum Network to v1.6.5
  lumnetwork/chain.json
Labels: chain-upgrade

#4106 Upgrade Akash to v0.32.0
  akash/chain.json
Labels: chain-upgrade

#4112 Patch Quasar to v1.0.1
  quasar/chain.json
Labels: chain-upgrade

#4087 Neutron v3 for testnet
  testnets/neutrontestnet/chain.json
Labels: chain-upgrade

#4100 Updated genesisL1 chain configs
  genesisl1/chain.json
Labels: chain-upgrade

#4116 remove cosmos spaces endpoint in Archway
  archway/chain.json
Labels: endpoints

#4060 Upgrade Terra2 to v2.10
  terra2/chain.json
Labels: chain-upgrade

#4069 Upgrade Axelar to v0.35
  axelar/chain.json
Labels: chain-upgrade

#3911 Upgrade Migaloo to v4.1.3
  migaloo/chain.json
Labels: chain-upgrade

#4058 Upgrade Bitsong to v0.15.0
  bitsong/chain.json
Labels: chain-upgrade

#4120 Upgrade Quicksilver to v1.5.1
  quicksilver/chain.json
Labels: chain-upgrade

#4132 Added "Decloud Nodes Lab" validator info
  akash/chain.json
  desmos/chain.json
  empowerchain/chain.json
  gitopia/chain.json
  juno/chain.json
  kyve/chain.json
  realio/chain.json
  sentinel/chain.json
  source/chain.json
  vidulum/chain.json
Labels: endpoints

#4152 Upgrade Celestia to v1.6.0 and add module info
  celestia/chain.json
Labels: chain-upgrade

#4148 Update ports for all High Stakes nodes + add Aura
  andromeda/chain.json
  aura/chain.json
  bandchain/chain.json
  cosmoshub/chain.json
  fetchhub/chain.json
  injective/chain.json
  irisnet/chain.json
  migaloo/chain.json
  persistence/chain.json
  provenance/chain.json
  secretnetwork/chain.json
  shentu/chain.json
  terra2/chain.json
  umee/chain.json
Labels: endpoints

#4144 Upgrade Persistence to v11 and update chain history
  persistence/chain.json
Labels: chain-upgrade

#4155 Add staking-explorer juno REST API endpoint
  juno/chain.json
  omniflixhub/chain.json
  source/chain.json
Labels: endpoints

#4142 Upgrade SGE Network to v1.5.2
  sge/chain.json
Labels: chain-upgrade

#4036 Upgrade Cosmos Hub to v15
  cosmoshub/chain.json
Labels: chain-upgrade

#4149 Add Titan Mainnet
  titan/assetlist.json
  titan/chain.json
  titan/images/chain.png
  titan/images/chain.svg
  titan/images/tkx.png
Labels: new-chain

#4150 Upgrade Titan Testnet, Update endpoint domain
  testnets/titantestnet/chain.json
Labels: chain-upgrade

#4141 Upgrade Sei to v3.8.0
  sei/chain.json
Labels: chain-upgrade

#4168 Add MathNodes rpc,api,grpc and peer to bitsong chain registry
  bitsong/chain.json
Labels: endpoints

#4139 Upgrade Nibiru to v1.0.3
  nibiru/chain.json
Labels: chain-upgrade

#4171 Patch Terra2 to v2.10.4
  terra2/chain.json
Labels: chain-upgrade

#4126 Add BCC Nodes for C4E
  chain4energy/chain.json
Labels: endpoints

#4163 akiro
  akiro/assetlist.json
  akiro/chain.json
  akiro/images/akiro.png
  akiro/images/akiro.svg
Labels: good first issue, new-chain

#4165 Upgrade Ununifi to v4_0_2
  ununifi/chain.json
Labels: chain-upgrade

#4179 Patch Terra2 to v2.10.5
  terra2/chain.json
Labels: chain-upgrade

#4178 Add peers seeds and grpc to Cifer
  cifer/chain.json
Labels: ibc-channels, endpoints

#4180 Upgrade Stride to v20
  stride/chain.json
Labels: chain-upgrade

#4217 Update StakeUp endpoints for Source
  source/chain.json
Labels: endpoints

#4215 Upgrade Titan Testnet
  testnets/titantestnet/chain.json
Labels: chain-upgrade

#4216 Upgrade SGE to v1.5.3
  sge/chain.json
Labels: chain-upgrade

#4227 Upgrade Celestia to v1.7.0
  celestia/chain.json
Labels: chain-upgrade

#4221 Upgrade Composable to v6_5_0
  composable/chain.json
Labels: chain-upgrade

#4248 add seed Bitcanna and add chain.json Planq
  bitcanna/chain.json
  planq/chain.json
Labels: endpoints

#4242 Change client, connection, channel id
  _IBC/cifer-cosmoshub.json
  _IBC/cifer-osmosis.json
  cifer/chain.json
Labels: ibc-channels, endpoints

#4240 Add cvn-osmosis IBC channel and asset
  _IBC/conscious-osmosis.json
  osmosis/assetlist.json
Labels: ibc-channels
