Repository cosmos/chain-registry, pull requests merged in 2024-07, with the labels that each got.

#4894 add Axelar Wrapped YUM
  _non-cosmos/ethereum/assetlist.json
  _non-cosmos/ethereum/images/yum.png
  axelar/assetlist.json
Labels: new-asset

#4895 Upgrade Realio to v0.9.3
  realio/chain.json
Labels: chain-upgrade

#4934 Upgrade Celestia to v1.10.1
  celestia/chain.json
Labels: chain-upgrade

#4936 Upgrade Kujira to v1.1.0
  kujira/chain.json
Labels: chain-upgrade

#4937 Add version history for Lava
  lava/chain.json
Labels: chain-upgrade

#4938 Upgrade Nibiru to v1.5.0
  nibiru/chain.json
Labels: chain-upgrade

#4939 Upgrade Persistence to v11.14.0
  persistence/chain.json
Labels: chain-upgrade

#4940 Upgrade Quicksilver to v1.6.1
  quicksilver/chain.json
Labels: chain-upgrade

#4954 Patch Omniflixhub to v4.1.1
  omniflixhub/chain.json
Labels: chain-upgrade

#4956 Upgrade Stargaze to v14
  stargaze/chain.json
Labels: chain-upgrade

#4916 update channel of shido-noble IBC
  _IBC/noble-shido.json
Labels: ibc-channels

#4959 Neutron Chain Upgrade v4.0.1
  neutron/chain.json
Labels: chain-upgrade

#4980 Upgrade Noble to v5.0.0/krypton
  noble/chain.json
Labels: chain-upgrade

#5025 Update KYVE to v1.5.0
  kyve/chain.json
Labels: chain-upgrade

#5028 Upgrade Carbon to v2.45.0
  carbon/chain.json
Labels: chain-upgrade

#5029 Upgrade Cosmos Hub to v18
  cosmoshub/chain.json
Labels: chain-upgrade

#5030 Upgrade Juno to v23
  juno/chain.json
Labels: chain-upgrade

#5031 Upgade Jackal to v340 and fix upgrade history names
  jackal/chain.json
Labels: chain-upgrade

#5032 Upgrade Quicksilver to v1.6.2
  quicksilver/chain.json
Labels: chain-upgrade

#5033 Upgrade Sei to v5.6.2
  sei/chain.json
Labels: chain-upgrade

#5034 Upgrade Zetachain to v18 and fix module history
  zetachain/chain.json
Labels: chain-upgrade

#5044 Update Celestia App recommended version to v1.11.0
  celestia/chain.json
Labels: chain-upgrade

#5007 Add rpc & api endpoint for Sentinel
  sentinel/chain.json
Labels: endpoints

#5045 Upgrade Jackal to v4
  jackal/chain.json
Labels: chain-upgrade

#5049 Upgrade DYDX to v5.1.0
  dydx/chain.json
Labels: chain-upgrade

#5046 feat: update celestia-app versions on Mocha and Arabica
  testnets/celestiatestnet2/chain.json
  testnets/celestiatestnet3/chain.json
Labels: chain-upgrade

#5050 Upgrade Stride to v23 and update version history
  stride/chain.json
Labels: chain-upgrade

#5040 Version updates for latest Agoric release
  agoric/chain.json
  agoric/versions.json
Labels: chain-upgrade

#5066 Upgrade Odin to v0.9.3
  odin/chain.json
Labels: chain-upgrade

#5067 Patch Jackal to v4.0.2
  jackal/chain.json
Labels: chain-upgrade

#5096 Update haqq to v1.7.7
  haqq/chain.json
Labels: chain-upgrade
