Repository cosmos/chain-registry, pull requests merged in 2024-06, with the labels that each got.

#4767 Upgrade Aura to v0.8.3/ibcupgrade
  aura/chain.json
Labels: chain-upgrade

#4770 Upgrade Lum Network to v1.6.7
  lumnetwork/chain.json
Labels: chain-upgrade

#4771 Cleanup kjnodes endpoints
  migaloo/chain.json
  nois/chain.json
Labels: endpoints

#4789 Adds evm-rpc section + nodes to Sei
  sei/chain.json
Labels: endpoints

#4790 Upgrade Persistence to v11.13.0
  persistence/chain.json
Labels: chain-upgrade

#4792 Upgrade DYDX to v5.0.0
  dydx/chain.json
Labels: chain-upgrade

#4791 Upgrade Zetachain to v17
  zetachain/chain.json
Labels: chain-upgrade

#4769 Upgrade SGE Network to v1.7.0
  sge/chain.json
Labels: chain-upgrade

#4808 Upgrade Akash to v0.36.0
  akash/chain.json
Labels: chain-upgrade

#4811 Remove Lavender.Five from various networks
  bitcanna/chain.json
  bitsong/chain.json
  desmos/chain.json
  teritori/chain.json
Labels: endpoints

#4809 Upgrade Haqq to v1.7.6
  haqq/chain.json
Labels: chain-upgrade

#4815 Add DTEAM's peer, rest API endpoint, RPC endpoint to chain4energy chain.json
  chain4energy/chain.json
Labels: endpoints

#4864 Upgrade Chihuahua to v7.0.1
  chihuahua/chain.json
Labels: chain-upgrade

#4865 Patch Juno to v22.0.1
  juno/chain.json
Labels: chain-upgrade

#4866 Patch Neutron to v3.0.6
  neutron/chain.json
Labels: chain-upgrade

#4868 Upgrade Pryzm to v0.17.0
  pryzm/chain.json
Labels: chain-upgrade

#4867 Upgrade Quicksilver to v1.5.6
  quicksilver/chain.json
Labels: chain-upgrade

#4869 Upgrade Sei to v5.5.5
  sei/chain.json
Labels: chain-upgrade

#4870 Patch Terra2 to v2.11.4
  terra2/chain.json
Labels: chain-upgrade

#4757 Add HeliChain
  heli/assetlist.json
  heli/chain.json
  heli/images/heli.png
  heli/images/heli.svg
Labels: new-chain

#4896 add IBC osmosistestnet - swisstronik testnet
  testnets/_IBC/osmosistestnet-swisstroniktestnet.json
Labels: ibc-channels
