Repository cosmos/chain-registry, pull requests merged in 2024-01, with the labels that each got.

#3529 Update osmosis-qwoyn.json
  _IBC/osmosis-qwoyn.json
Labels: ibc-channels

#3538 Upgrade Coreum to v3.0.2
  coreum/chain.json
Labels: chain-upgrade

#3512 Upgrade Sei to v3.5.0
  sei/chain.json
Labels: chain-upgrade

#3364 Remove non-public iris endpoints
  irisnet/chain.json
Labels: endpoints

#3577 Update provenance chain.json
  provenance/chain.json
Labels: endpoints

#3575 Add additional Validatus endpoints to the chain registry
  chain4energy/chain.json
  osmosis/chain.json
Labels: endpoints

#3573 add genznodes endpoint - quasar.coreum.ununifi
  andromeda/chain.json
  coreum/chain.json
  mars/chain.json
  quasar/chain.json
  sge/chain.json
  ununifi/chain.json
Labels: endpoints

#3579 Add Terra2 v2.6.2 as Compatible Version
  terra2/chain.json
Labels: chain-upgrade

#3566 Update BeeZee chain json
  beezee/chain.json
Labels: chain-upgrade

#3602 Update Terra2 to v2.6.3
  terra2/chain.json
Labels: chain-upgrade

#3603 Upgrade Chihuahua to v6.0.1
  chihuahua/chain.json
Labels: chain-upgrade

#3605 Upgrade Migaloo to v3.0.3
  migaloo/chain.json
Labels: chain-upgrade

#3318 bump terpnetwork resources
  terpnetwork/chain.json
  terpnetwork/images/logo.png
  terpnetwork/images/terp.png
  testnets/terpnettestnet/chain.json
Labels: chain-upgrade

#3598 Update BZE chain.json
  beezee/chain.json
Labels: endpoints

#3596 fixing jackal axelar ibc
  _IBC/axelar-jackal.json
Labels: ibc-channels

#3544 adding to Cosmos Spaces endpoints to Terra
  terra2/chain.json
Labels: endpoints

#3611 Upgrade Neutron to v2.0.1
  neutron/chain.json
Labels: chain-upgrade

#3613 Upgrade Composable to v6.3.6
  composable/chain.json
Labels: chain-upgrade

#3612 Upgrade Migaloo to v3.0.4
  migaloo/chain.json
Labels: chain-upgrade

#3601 add aura-stargaze ibc
  _IBC/aura-stargaze.json
Labels: ibc-channels

#3610 Update Migaloo-Sei IBC info
  _IBC/migaloo-sei.json
Labels: ibc-channels

#3615 Add WBTC to Osmosis
  osmosis/assetlist.json
Labels: new-asset

#3617 Upgrade Jackal to v3.0.5
  jackal/chain.json
Labels: chain-upgrade

#3607 Update Citizen Cosmos alias.json
  bitcanna/chain.json
Labels: endpoints

#3554 Upgrade Evmos to v16.0.0
  evmos/chain.json
Labels: chain-upgrade

#3551 Upgrade Kujira to v0.9.3
  kujira/chain.json
Labels: chain-upgrade

#3624 Upgrade Archway to v4.0.3
  archway/chain.json
Labels: chain-upgrade

#3628 Upgrade Evmos to v16.0.1
  evmos/chain.json
Labels: chain-upgrade

#3622 Add Blockval Oraichain services
  oraichain/chain.json
Labels: endpoints

#3630 add Bro_n_Bro api's
  agoric/chain.json
  archway/chain.json
  bostrom/chain.json
  composable/chain.json
  crescent/chain.json
  desmos/chain.json
  empowerchain/chain.json
  evmos/chain.json
  gravitybridge/chain.json
  juno/chain.json
  neutron/chain.json
  nomic/chain.json
  omniflixhub/chain.json
  osmosis/chain.json
  qwoyn/chain.json
  stargaze/chain.json
  stride/chain.json
Labels: endpoints

#3626 Upgrade SGE to v1.3.0
  sge/chain.json
Labels: chain-upgrade

#3638 Upgrade Nomic to v7.0.1
  nomic/chain.json
Labels: chain-upgrade

#3609 Upgrade Quicksilver to v1.4.6
  quicksilver/chain.json
Labels: chain-upgrade

#3640 Upgarde SGE to v1.3.1
  sge/chain.json
Labels: chain-upgrade

#3633 Add Validatrium's passage endpoints
  passage/chain.json
Labels: endpoints

#3632 Upgrade Stride to v17
  stride/chain.json
Labels: chain-upgrade

#3646 Upgrade Evmos to v16.0.2
  evmos/chain.json
Labels: chain-upgrade

#3618 Upgrade Jackal to v3.1.1
  jackal/chain.json
Labels: chain-upgrade

#3250 Bump EntryPoint version to v1.2.0 and fix gas price
  testnets/entrypointtestnet/chain.json
Labels: chain-upgrade

#3643 Upgrade Haqq to v1.7.0
  haqq/chain.json
Labels: chain-upgrade

#3658 Patch Terra2 to v2.6.4
  terra2/chain.json
Labels: chain-upgrade

#3660 Patch Carbon to v2.36.9
  carbon/chain.json
Labels: chain-upgrade

#3654 Update IBC config for osmosistestnet-sagatestnet
  testnets/_IBC/osmosistestnet-sagatestnet.json
Labels: ibc-channels

#3651 Add Migaloo-Umee IBC info
  _IBC/migaloo-umee.json
Labels: ibc-channels

#3665 Update _IBC nois-sei.json
  _IBC/nois-sei.json
Labels: ibc-channels

#3661 Upgrade Carbon to v2.37.0
  carbon/chain.json
Labels: chain-upgrade

#3684 Patch Injective to v1.12.1
  injective/chain.json
Labels: chain-upgrade

#3637 Upgrade Omniflixhub to v2.0.0
  omniflixhub/chain.json
Labels: chain-upgrade

#3657 Upgrade Nolus to v0.5.0
  nolus/chain.json
Labels: chain-upgrade

#3692 Add #SoloNation Public Endpoints for Coreum
  coreum/chain.json
Labels: endpoints

#3662 Upgrade Composable to v6_4
  composable/chain.json
Labels: chain-upgrade

#3667 Upgrade Sei to v3.6.1
  sei/chain.json
Labels: chain-upgrade

#3690 Remove Nodeist from Andromeda
  andromeda/chain.json
Labels: endpoints

#3704 Add additional Validatus endpoints
  celestia/chain.json
  chihuahua/chain.json
  composable/chain.json
  evmos/chain.json
  juno/chain.json
  persistence/chain.json
  quicksilver/chain.json
  sommelier/chain.json
  source/chain.json
Labels: endpoints

#3707 add kujira persistence ibc.
  _IBC/kujira-persistence.json
Labels: ibc-channels

#3682 Upgrade Bitcanna to "ganjarevolution"
  bitcanna/chain.json
Labels: chain-upgrade

#3653 Upgrade Qwoyn to v5.4.1
  qwoyn/chain.json
Labels: chain-upgrade

#3711 Patch Carbon for v2.37.1
  carbon/chain.json
Labels: chain-upgrade

#3627 Upgrade Terra2 to v2.9
  terra2/chain.json
Labels: chain-upgrade

#3683 Upgrade Dydx to v3.0.0
  dydx/chain.json
Labels: chain-upgrade

#3728 Upgrade Teritori to v2.0.0
  teritori/chain.json
Labels: chain-upgrade

#3716 Upgrade Stride to v18
  stride/chain.json
Labels: chain-upgrade

#3724 Add Palamar endpoints to Aura
  aura/chain.json
Labels: endpoints

#3725 Add Palamar endpoints to HAQQ
  haqq/chain.json
Labels: endpoints

#3746 Update Neutron mainnet gRPC address of P2P.ORG
  neutron/chain.json
Labels: endpoints

#3739 Add endpoints, seed, peer and explorer chain.json
  gitopia/chain.json
Labels: endpoints
